{% extends 'base.html' %}

{% block title %}
<title>{{story.title}}</title>
{% endblock%}


{% block body %}
    <div class='container'>
    <h2 class="text-center">{{story.title}}</h2><hr>
    <p class="lead">{{story.body|safe}}</p>
    </div>
    <hr>
    <div class="container">
    <h2>YOU MAY ALSO LIKE:</h2>
    {% for x in like_story %}
    <a href="{{x.get_absolute_url}}"><h5>{{x.title}}</h5></a>
    {% endfor%}
    <br>


    <h2>Similar posts</h2>
    {% for post in similar_posts %}
    <p>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </p>
    {% empty %}
    There are no similar story yet.
    {% endfor %}</div>


{% endblock %}